.application-panel
{
    background-color: #fff;
}

.app-form
{
    margin-left: 0;
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #c2c2c2;
    display: block;
    width: 75%;
    height: 350px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.app-title
{
    color: #e50000;
    margin-left: 5%;
    margin-top: 5%;
}

.app-details
{
    color: #323232;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 4%;
    margin-right: 5%;
    text-align: center;;
}

.form-divider
{
    margin-top: 30px;
    margin-left: 5%;
    width: 90%;
    height: 2px;
    background-color: #eee;
}

.imgLogo
{
	width: 240px; 
	height: 70px;
	margin-top: 5px;
}

.panel-parent
{
    width: 80%;  
    margin-left: 10%;  
}

.panel-table
{
	width: 75%; 
	margin-left: 12.5%;
}

.logo {
    font-size:21px;
    color:#2e2e2e;
    float:left;
    margin:20px 0 0 10px;
    text-transform:uppercase;
}

.container-form {
	border-radius: 3px;
    padding: 10px;
    margin-right: 0px;
    border-width: 90px;
    font-size: 15px;
    text-align: center;
    color: aliceblue;
    
}

.panel-heading {
    font-size: 12px;
}

.warning
{
    color: #ffce00;
}

.logout-button
{
    margin-left: 70%;   
}

.changePass-button
{
    margin-left: 35%;
}

.saveBtn
{
    margin-left: 65%;   
}

.encoding
{
    margin-top: 13%;
    color: #a94c4c;
    font-variant: unset;
    font-family: sans-serif;
}

.filter 
{
    margin-left: 62%;
}

th
{
    text-align: center;
}

.grade-level
,.no
{
    text-align: left;
}

.sched-content
,.sy-content
,.grdlvl-content
,.cur-content
,.sec-content
,.sub-content
,.qtr-content
,.bldg-content
,.room-content
,.transact-content
{
    text-align: center;
}

.btn-status-active, .btn-status:hover, .btn-status:active
{
    background-color: #d9534f;
    border-color: #d9534f;
    color: #fff;
    cursor: default;
}

.btn-status-inactive, .btn-status-inactive:hover
{
    background-color: #c7cbd6;
    border-color: #c7cbd6;
    color: #fff;
}

.import li
{
    list-style-type: none;
    margin-left: 30px;
}

.fa-tachometer
,.fa-users
,.fa-group
,.fa-building-o
,.fa-book
{
    margin-top: 15px;
}

.orange
,.pink
,.tar
,.green
,.yellow-b
{
    margin-left: 20%; 
    margin-bottom: 20px;
}

.spanMoTo
{
    text-align: center; 
    font-size: 30px;
}
    
